def connectToDomain(username, passwd, admin_url):
    try:
        connect(username, passwd, admin_url)
        print('Successfully connected to the domain')
    except:
        print('The domain ' + admin_url + ' is unreacheable. Please try again')
        exit()

def checkManagedExists(server_name):
    cd('/Servers')
    all_servers = ls()
    if (all_servers.find(server_name) != -1):
        print('Managed server: ' + server_name + ' already exists!')
        disconnect()
        exit()

def createManaged(server_name, server_port):
    try:
        cd('/')
        edit()
        startEdit()
        svr = cmo.createServer(server_name)
        svr.setListenPort(server_port)
        svr.setListenAddress("{{ local_ip }}")
        save()
        activate(block="true")
    except:
        print('Cannot create Managed ' + server_name)
        exit()

if __name__ == '__main__' or __name__ == 'main':
    print('==============================================================================')
    print('Connecting to Admin Server...')
    print('==============================================================================')
    connectToDomain("{{ weblogic_user }}", "{{ weblogic_passwd }}", "t3://{{ admin_ip }}:{{ admin_port }}")

    print('==============================================================================')
    print('Check Managed Exists...')
    print('==============================================================================')
    checkManagedExists("{{ managed_name }}")

    print('==============================================================================')
    print('Create Managed Server...')
    print('==============================================================================')
    createManaged("{{ managed_name }}", {{ managed_port }})

    print('==============================================================================')
    print('Execution completed...')
    print('==============================================================================')
    disconnect()
    exit()
