#!/bin/sh
rm -rf {{ managed_server_path }}/stage/*
rm -rf {{ managed_server_path }}/tmp/*

sleep 2

# USER_MEM_ARGS="-Xms2048m –Xmx2048m -XX:PermSize=512m -XX:MaxPermSize=512m -XX:NewRatio=4 -XX:SurvivorRatio=6 -Xmn1024m"
# export USER_MEM_ARGS
nohup ./startManagedWebLogic.sh {{ managed_name}} http://{{ admin_ip }}:{{ admin_port }} >> ../log/{{ managed_name}}.out &

# need sleep for ansible script
sleep 2

# need remove for ansible script
# tail -f ../log/{{ managed_name}}.out
