#!/bin/sh
rm -rf {{ admin_server_path }}/tmp/*
sleep 2

nohup ./startWebLogic.sh >> ../log/Admin.out &
# need sleep for ansible script
sleep 2

# need remove for ansible script
# tail -f ../log/Admin.out
