#==========================================
# Create a domain from the weblogic domain template.
#==========================================
readTemplate("{{ weblogic_home }}/common/templates/domains/wls.jar")

#==========================================
# Configure the Administration Server
#==========================================
cd('Servers/AdminServer')
set('Name', "{{ admin_name }}")
set('ListenAddress', '{{ admin_ip }}')
set('ListenPort', {{ admin_port }})

#==========================================
# Configure the Server SSL
#==========================================
# create('AdminServer','SSL')
# cd('SSL/AdminServer')
# set('Enabled', 'True')
# set('ListenPort', {{ admin_ssl_port }})

#===========================================
# Define the password for user weblogic
#===========================================
cd('/')
cd('Security/base_domain/User/weblogic')
set('Name', "{{ weblogic_user }}")
cmo.setPassword("{{ weblogic_passwd }}")

#===========================================
# OverwriteDomain
#===========================================
setOption('DomainName', '{{ domain_name }}')
setOption('ServerStartMode', 'prod')
setOption('OverwriteDomain', 'true')
setOption('JavaHome', "{{ java_home }}")

#==============================================
# Write the domain, close template and finally exit from the WLST
#==============================================
writeDomain("{{ domain_path }}/{{ domain_name }}")
closeTemplate()
exit()
