import re

def connectToDomain():
    try:
        connect("{{ weblogic_user }}", "{{ weblogic_passwd }}", "t3://{{ admin_ip }}:{{ admin_port }}")
        print('Successfully connected to the domain')
    except:
        print('The domain is unreacheable. Please try again')
        exit()

def reDeploy(deploymentName):

    appList = re.findall(deploymentName, ls('/AppDeployments'))

    if len(appList) == 0:
        print('==============================================================================')
        print('No application with name %s exsists') % (deploymentName)
        print('==============================================================================')
        return

    stopApplication(deploymentName)
    redeploy(deploymentName)
    startApplication(deploymentName)


if __name__ == '__main__' or __name__ == 'main':
    print('==============================================================================')
    print('Connecting to Admin Server...')
    print('==============================================================================')
    connectToDomain()

    print('==============================================================================')
    print('Starting Deployment...')
    print('==============================================================================')
    reDeploy("{{ deploy_name }}")

    print('==============================================================================')
    print('Execution completed...')
    print('==============================================================================')
    
    disconnect()
    exit()
